:root {
  --background-gray: rgb(240, 240, 240);
  --text-black: black;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  display: flex;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
}

.sidebar.MuiDrawer-paper {
  background-color: var(--background-gray);
  width: 10%;
}

.sidebar-header {
  padding: 8%;
}

.dashboard {
  flex-grow: 1;
  padding: 24px;
}

.card-parent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  align-items: center;
  align-self: stretch;
  background-color: var(--background-gray);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.transaction-cost {
  background-color: #70d8bd;
  color: var(--text-black);
  padding: 8px;
  border-radius: 4px;
}

.subtitle1 {
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}

.gutterBottom {
  margin-bottom: 0.35em;
}